worker_processes 1;
error_log /var/log/nginx/error.log;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  server {
    listen {{ nginx_port }} default_server;
    listen [::]:{{ nginx_port }} default_server;

    location / {
      root /usr/share/nginx/html;
      index index.html index.htm;
    }

    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
      root /usr/share/nginx/html;
    }
  }

  upstream {{ nginx_upstream_name }} {
    {% for host in nginx_upstream_hosts %}
      server {{ host }};
    {% endfor %}
  }

  proxy_connect_timeout {{ nginx_timeout }};
  proxy_send_timeout {{ nginx_timeout }};
  proxy_read_timeout {{ nginx_timeout }};
}
